@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
	border-radius: 10px;
	box-shadow:
		10px 10px 22px rgba(0, 0, 0, 0.2),
		-10px -10px 22px rgba(255, 255, 255);
	background-color: #e0e0e0;
	width: 400px;
	height: auto;
}

:root {
	--background-color: #e0e0e0;
	--text-color: #a1a1aa;
}

body {
	background-color: var(--background-color);
	height: 100vh;
}
.card-body {
	background-color: #e0e0e0;
}
